
body, h1, h2, h3, h4, h5 {
	font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


.nav a li {
	display: inline;
}

.navbar {
	border-radius: 0px;
}

#main-nav .navbar-text {
	margin: 0 !important;
	padding: 25px 0px !important;
}

#main-nav .navbar-default {
	background-color: #2c2a2a !important;
	border: 0 !important;
	border-radius: 0 !important;
}

#main-nav .navbar {
	min-height: 75px;
	margin-bottom: 0 !important;
}

#main-nav button.navbar-toggle {
	margin: 15px 15px !important;
}

.navbar-default .navbar-toggle {
	border-color: #ddd;
}

#main-nav .navbar-brand {
	margin: 0 !important;
	width: 200px;
	height: 30px;
}

#main-nav .navbar-brand img {
	width: 100%;
}

.navbar-inverse {
	background-color: #212121;
	border-color: #080808;
}

.nav-collapse, .nav-collapse.collapse {
    overflow: visible;
}   
.navbar .btn-navbar {
    display: none;
}   

.navbar-header {
	/*background: url('/vetro.png') no-repeat;
	background-size: 100%;
	height: 80px;
	width: 85px;
	position: absolute;
	top: 38px;
	left: 75px;*/
	padding: 15px;
}

.navbar-brand {
	padding: 0px;
	height: 45px;
	width: 45px;
}

.nav-list {
	display: inline-block;
	padding: 27px;
}

.nav-list li {
	display: inline;
	padding: 0 10px;
}

.navbar-nav li.first-leaf {
	border-left: 2px groove #555;
	border-right: 0px;
}

.navbar-nav li.last-leaf  {
	border-right: 2px groove #555;
	border-left: 2px groove #555;
}

.navbar-nav li {
	border-left: 2px groove #555;
	display: inline-block
	
}

.navbar a {
	color: #FFF;
	text-decoration: none;
}

.navbar-nav a li {
	/*padding: 7px 12px;
	padding-bottom: 6px;*/
	font-weight: bold;
	display: inline-block;
}

.active {
	color: #d43f3a;
	background-color: transparent;
}

.nav-li:hover {
	color: #d43f3a;
	background-color: transparent;
}

/* FRO's CSS */

.container {
	margin-top: 0;
}

.container-application {
	margin: 9px auto;
	border: 1px solid #f1f1f1;
	min-height: 270px;
	width: 980px;
	background: #BBBBBB;
	border-radius: 3px;
	padding: 30px;
}

.fit-pic img {
	width: 140px;
	height: 140px;
	margin-left: 70px;
	box-shadow: 0 0 20px #251D1D !important;
	-webkit-transition: 100ms linear 0s;
	-moz-transition: 100ms linear 0s;
	-o-transition: 100ms linear 0s;
	transition: 100ms linear 0s;
	border-radius: 23px;
}

.container-application h2 {
	color: black;
	text-align: center;
}

.nav-social-icons {
	margin-left: 100px;
	margin-top: -12px;
}

.nav-social-icons img:hover {
	cursor: pointer;
}

.nav-to-right {
	float: right;
	padding-right: 0;
}

.nav-search {
	padding-right: 30px !important;
}

.navbar-style {
	padding: 12px 50px 0;
	margin-bottom: 0;
}

.custom-nav-upper {
	float: right;
	padding-right: 0;
}

.custom-nav-upper li a {
	line-height: 7px;
	font-size: 12px;
}

.custom-nav-lower {
	float: right;
	padding: 10px 0;
}

.custom-nav-lower li {
	border: 0;
}

.custom-nav-lower li a {
	font-size: 14px;
	font-weight: bold;
}

.wrapper {
	/*background: url('../../background.jpg');*/
}

.home-container {
	width: 100%;
	margin: 0 auto;
}

.home-container h3, .home-container h4 {
	color: #151515;
	font-weight: bold;
}

.banner img {
	margin: 0 auto;
	width: 100%;
	display: block;
}

.home-main {
	padding: 40px 50px 50px;
}

.home-main img {
	width: 100%;
}

.home-main h3 {
	margin-bottom: 15px;
}

.t-center {
	text-align: center;
}

.home-main span, .youtube-tools span, .partners-container span, .footer-upper span, .footer-lower span {
	font-size: 11px;
	line-height: 0px;
}

.youtube-tools {
	padding: 0 50px;
}

.youtube-tools img {
	width: 100%;
}

.partners-container {
	padding: 0 50px 90px;
	background: url('/worldmap.png') no-repeat center;
	background-size: cover;
}

.partners-container img {
	width: 100%;
}

.partners-container h3 {
	margin-bottom: 40px;
}

.partners-container h4 {
	margin-top: 0;
}

.footer-upper {
	background: url('/top-footer-pattern.jpg');
	padding: 20px 50px;
}

.footer-upper h3, .footer-upper span, .footer-lower h3, .footer-lower span {
	color: white;
}

.footer-lower {
	background: #151515;
	padding: 0 50px 10px;
}

.footer-lower img {
	width: 100%;
}

.footer-lower h3 {
	text-align: center;
}

.footer-lower p {
	color: #414141;
	line-height: 9px;
	font-size: 11px;
}

.t-yellow {
	color: orange !important;
}

.vetro-image-footer {
	display: block;
	margin-top: 15px;
	margin-bottom: 20px;
}

.contact-us {
	padding: 0 30px;
}

.contact-input {
	margin-bottom: 10px;
	background: #2b2b2b;
	border-color: #2b2b2b;
	border-radius: 0px;
}

.contact-submit {
	margin-left: 29%;
	width: 42%;
}

.partnership-submit {
	margin-left: 73.3%;
}


.message-box {
	height: 80px !important;
	background: #2b2b2b;
	border-color: #2b2b2b;
	border-radius: 0px;
	margin-bottom: 10px;
}

.home-container img {
	max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.sidebar{
	min-height: 1000px;
	background-image:url('/SidebarBackground_02.png') ;
	background-repeat: repeat-y;
}

.right-content {
	background: #FFF;
	min-height: 600px;
	padding: 30px;
	color: #404041;
}

.logo-container-left{
	margin-top: 13px;
	padding-left: 20px;
}

.img-logo-prop{
	margin-left: 10px;
	margin-bottom: 8px
}

.vetro-digital-label{
	margin-top: 10px;
}



.sidebar-label{
	font-size: 18px;
}

.sidebar-row-container{
	border-top: 1px solid #B1ACAC;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 10px;
}
.sidebar-row-container:last-child{
	border-bottom: 1px solid #B1ACAC;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 10px;
}

.sidebar-row-link-container{
	margin-top: 5px;
	padding: 15px;
}

.icon-column-container{
	margin: 0px auto;
	margin-left:-20px;
}


#vetro-digital-label-prop{
	font-size: 13px;
}

#sidebar-logout{
	color: #FFFFFF;
}

#sidebar-logout:hover{
	color: #428bca;
	text-decoration: none;
}
#sidebar-settings{
	color: #FFFFFF;
}
#sidebar-settings:hover{
	color: #428bca;
	text-decoration: none;
}
.logo-footer {
	margin-left: 34%;
}

/*FRO's dashboard CSS*/

.date-header {
	margin-bottom: 20px;
}

.first-date-header {
	display: inline-block;
}

.second-date-header {
	display: inline-block;
	color: #888;
}

/*FRO's arkon CSS*/

/*body, h1, h2, h3, h4, h5, button {
	
}*/

.container-home {
	width: 980px;
	margin: 0 auto;
}

.center-logo {
	margin-left: 8%;
}

.center-logo img {
	/*width: 100%;*/
}

.align-text {
	padding-top: 6px;
}

.content {
	margin-top: 10px;
}

.content-left {
	padding-left: 0;
}

.content-right {
	padding-right: 0;
}

.content img {
	width: 98%;
}

.content:before, .content:after {
	display: table;
	content: " ";
}

.center-youtube-button {
	margin-left: 39.5%;
}

.left-space {
	margin-left: 20px;
}

.arkon-button {
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	margin-top: 25px;
	background: #df0a0a;
}

.arkon-YT-left {
	margin-left: 26%;
}

.head-space {
	margin: 10px 0;
	background: #BBBBBB;
	height: 160px;
	padding-top: 10px;
	border-radius: 4px;
}

.head-space img {
	width: 100%;
}

.text-space {
	margin: 38px 0;
	line-height: 25px;
	text-align: center;
}

.head-text {
	font-weight: 700;
	font-size: 32px;
	text-align: center;
	color: #000;
}

.YT-button {
	background: #df0a0a;
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,.05)0%,rgba (0,0,0,.1)100%);
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	padding: 13px;
	color: #FFF;
	font-weight: 700;
	width: 100%;
}

.YT-button:hover {
	background: #df0a0a;
	box-shadow: 0 0 20px #251D1D !important;

	-webkit-transition: 100ms linear 0s;
    -moz-transition: 100ms linear 0s;
    -o-transition: 100ms linear 0s;
    transition: 100ms linear 0s;
}

.icon-youtube {
	height: 40px;
	width: 40px;
	margin-left: 20px;
}

.YT-button-text {
	margin-left: 20px;
	font-size: medium;
}

#YTconnect {
	cursor: pointer;
}

#YTconnect:hover {
	box-shadow: 0px 0px 20px #000000 !important;
	-webkit-transition: 100ms linear 0s;
	-moz-transition: 100ms linear 0s;
	-o-transition: 100ms linear 0s;
	transition: 100ms linear 0s;
}

#YTconnect-apply:hover {
	box-shadow: inset 0px 3px 20px #888 !important;
	-webkit-transition: 30ms linear 0s;
	-moz-transition: 30ms linear 0s;
	-o-transition: 30ms linear 0s;
	transition: 30ms linear 0s;
	border-radius: 23px;
	border-color: #AAAAAA;
	cursor: pointer;
}

.container-youtube-stats, .container-personal-info {
	width: 45%;
	margin: 0 auto;
}

.left-space {
	margin-left: 20px;
}

.YT-stats-button {
	margin-left: 55%;
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	background: #df0a0a;
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,.05)0%,rgba (0,0,0,.1)100%);
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	padding: 13px;
	color: #FFF;
	border-radius: 6px;
	font-weight: 700;
}

.YT-stats-button:hover {
	box-shadow: 0px 0px 20px #000000 !important;
	-webkit-transition: 100ms linear 0s;
	-moz-transition: 100ms linear 0s;
	-o-transition: 100ms linear 0s;
	transition: 100ms linear 0s;
}