<template name="index">
	<div class="content">
		<section class="arkon-header">
			<div class="container">
				<div class="col-xs-12">
					<a href="#"><img  class="fit-logo" src="arkonlogo.png"></a>
				</div>
			</div>
		</section>
		<section class="arkon-content">
			<div class="container">
				<div class="row">
					<div class="col-xs-6 padding-none-left">
						<fieldset>
						<legend><h3>Become a Partner</h3></legend>
						<div class="col-xs-4 padding-align">
							<img src="arkonshake.gif">
						</div>
						<div class="col-xs-8 align-text">
							<span>Welcome to ArkonDigital! You're one step away from a badass career in digital entertainment. Login with YouTube account to continue your partnership application.</span>
						</div>
					</fieldset>
					</div>
					<div class="col-xs-6 padding-none-right">
						<fieldset>
							<legend><h3>Why Sign Up?</h3></legend>
							<div class="col-xs-4 padding-align">
								<img src="sign-up-red.gif">
							</div>
							<div class="col-xs-8">
								<ul>
									<li>Free to Join</li>
									<li>Instant Ad Approval</li>
									<li>No aritificial cap CPM/  Far payout</li>
									<li>Ownership and Control of your channel</li>
									<li>24/7 live support chat</li>
									<li>Expand your reach on new platforms</li>
								</ul>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</section>
		<section class="arkon-connect-button">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 padding-none">
						<button class="btn btn-danger btn-xs YT-button" id="YTconnect">
							<img src="YT.png" class="icon-youtube"><b class="YT-button-text">Connect with YouTube</b>
						</button>
					</div>
				</div>
			</div>
		</section>
	</div>


	<div class="modal fade" id="application-modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">ArkonDigital - Partnership Application</h4>
	      </div>
	      <div class="modal-body">
	        <div class="row step-tab-container">
	        	<div class="col-md-3 step-tab step-tab-active">
	        		Youtube Stats
	        	</div>
	        	<div class="col-md-3 step-tab">
	        		Processing
	        	</div>
	        	<div class="col-md-3 step-tab">
	        		Personal Info
	        	</div>
	        	<div class="col-md-3 step-tab">
	        		Agreement
	        	</div>
	        	<div class="row yt-stats-container">
					<div class="col-xs-6">
							<span>Youtube Channel</span><br>
					    	<span>Daily Views</span><br>
					    	<span>Total Upload Views</span><br>
					    	<span>Total Subscribers</span><br>
				    </div>
				    <div class="col-xs-6">
				     		<span id="yt_channel_name2" class="left-space">-</span><br>
				     		<span id="yt_daily_views2" class="left-space">-</span><br>
				     		<span id="yt_total_views2" class="left-space">-</span><br>
				     		<span id="yt_subscribers2" class="left-space">-</span>
				     		<input type="hidden" id="cr_status" />
				    </div>
				</div>

				<div class="loading hidden-div-container">
					<img src="/loading.gif" width="160" height="160"/>
					<div class="progress progress-striped">
					  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
					    <span class="sr-only">80% Complete</span>
					  </div>
					</div>
				</div>
	        </div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary next-step-btn first-step" id="next-tab-btn">Next</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>