<template name="navbarmain">
	<div class="navbar navbar-inverse navbar-style">
		<div class="row col-lg-6 nav-social-icons">
				<a class="navbar-brand" href="/">
				</a>
			<div class="row nav-to-right">
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav custom-nav-lower">
						<a href="{{pathFor 'index'}}">
							<li class="nav-li menu-li" id="index">
								ArkonDigital
							</li>
						</a>
						<a href="{{pathFor 'about'}}">
							<li class="nav-li menu-li" id="about">
								Login
							</li>
						</a>
						<a href="{{pathFor 'partnership'}}">
							<li class="nav-li menu-li" id="partnership">
								Apply for Partnership
							</li>
						</a>
						<a href="{{pathFor 'partnership'}}">
							<li class="nav-li menu-li" id="youtube">
								YouTube
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
	</div>
		<div class="row col-lg-6 nav-to-right">
		</div>
	</div>
</template>