<template name="navbarmain">
	<div id="main-nav">
		<nav class="navbar navbar-default" role="navigation">
			<div class="nav-wrap">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>		
					<a class="navbar-brand" href="{{pathFor 'index'}}">
						<img src="arkon2.png">
					</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">                           
						<!-- <a id="explore" href="#lt-pulse" class="navbar-link">Explore</a> -->
					<div class="nav-list">
						<a href="#" id="partnership-nav">
						<!-- 	<li class="nav-li menu-li" id="partnership" data-toggle="modal" data-target="#application-modal-form">
								Apply for Partnership
							</li> -->
							<li class="nav-li menu-li" id="partnership">
								Apply for Partnership
							</li>
						</a>
					<!-- 	<a href="{{pathFor 'partnership'}}">
							<li class="nav-li menu-li" id="youtube">
								YouTube
							</li>
						</a> -->
						<a href="#" id="youtube2">
							<li class="nav-li menu-li" id="youtube">
								YouTube
							</li>
						</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</template>