<template name="partnership">
	<div class="container-application">
		<div class="connect-to-youtube">
			<h2>Connect with</h2>
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-4 fit-pic">
					<img src="youtube_icon.png" id="YTconnect-apply">
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
		<div class="container-youtube-stats">
			<div class="row">
				<div class="col-xs-12">
					<h2>Youtube Stats</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7">
						<span>Youtube Channel</span><br>
				    	<span>Daily Views</span><br>
				    	<span>Total Upload Views</span><br>
				    	<span>Total Subscribers</span><br>
			    </div>
			    <div class="col-xs-5">
			     		<span id="yt_channel_name2" class="left-space">-</span><br>
			     		<span id="yt_daily_views2" class="left-space">-</span><br>
			     		<span id="yt_total_views2" class="left-space">-</span><br>
			     		<span id="yt_subscribers2" class="left-space">-</span>
			     <!-- 	<div class="row">
			     		{{#if currentUser}}
			     		<span>{{currentUser.services.google.email}}</span>
			     		{{else}}
			     		<span> - </span>
			     		{{/if}}
			     	</div> -->
			    </div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<button class="YT-stats-button">NEXT</button>
				</div>	
			</div>
		</div>
		<div class="container-personal-info">
			<div class="row">
				<div class="col-xs-12">
					<h2>Personal Info</h2>
				</div>
			</div>
		</div>
	</div>
</template>