<template name="partnership">
	<div class="container-application">
		<div class="connect-to-youtube">
			<h2>Connect with</h2>
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-4 fit-pic">
					<img src="youtube_icon.png" id="YTconnect-apply">
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
		<div class="container-youtube-stats hidden-div-container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Youtube Stats</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
						<span>Youtube Channel</span><br>
				    	<span>Daily Views</span><br>
				    	<span>Total Upload Views</span><br>
				    	<span>Total Subscribers</span><br>
			    </div>
			    <div class="col-xs-6">
			     		<span id="yt_channel_name2" class="left-space">-</span><br>
			     		<span id="yt_daily_views2" class="left-space">-</span><br>
			     		<span id="yt_total_views2" class="left-space">-</span><br>
			     		<span id="yt_subscribers2" class="left-space">-</span>
			     <!-- 	<div class="row">
			     		{{#if currentUser}}
			     		<span>{{currentUser.services.google.email}}</span>
			     		{{else}}
			     		<span> - </span>
			     		{{/if}}
			     	</div> -->
			    </div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<button class="YT-stats-button">NEXT</button>
				</div>	
			</div>
		</div>
		<div class="container-personal-info hidden-div-container">
			<div class="row">
				<div class="col-xs-12">
					<h2>You Qualified!</h2><span>Please input the following information to continue.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
	    			<span>Full Legal Name</span><br>
	    		</div>
	    		<div class="col-xs-7">
	    			{{#if currentUser}}
		     		<span>{{currentUser.profile.name}}</span><br>
		    		{{else}}
		    		<span>-</span><br>
		    		{{/if}}
	    		</div>
			</div>
			<div class="row test">
	    		<div class="col-xs-4">
	    			<span>Age</span>
	    		</div>
	    		<div class="col-xs-7">
	    			<input name="age" id="yt_age" placeholder="Current Age" class="form-control">
	    		</div>
		    </div>
		    	<div class="row test">
				    <div class="col-xs-4">
		    			<span>Country</span>
				    </div>							    		
				    <div class="col-xs-7">
				     	<input name="country" id="yt_country" placeholder="Country of Residence" class="form-control">
				    </div>
		    	</div>	
			<div class="row">
				<div class="col-xs-6">
					<button class="YT-stats-button">NEXT</button>
				</div>	
			</div>
		</div>

		<div class="container-denied hidden-div-container">
			{{#if currentUser}}
			<img src="{{googleImage}}">
			<h2>{{currentUser.profile.name}}</h2>
			{{else}}<br>{{/if}}
			<span>Thank you very much for your application. After careful review and consideration, we have determinded that your channel does not meet the qualifications for partnership this time. Some of the possible reasons are:</span>
			<ul>
				<li>Low Viewership</li>
				<li>Copyright Issues</li>
				<li>Strikes</li>
				<li>Adsense Deactivation</li>
			</ul>
			<span>If you feel that you have fixed this situation, please feel free to reapply.</span>
			<a href="{{pathFor 'index'}}">Go back to Homepage</a>
		</div>

		<div class="container-accepted hidden-div-container">

		</div>
	</div>
</template>